/* UNCOMMENT HERE TO ALLOW TAILWINDCSS AND DAISYUI */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
    background-color: #9ab89b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} */

.root,
#root,
#docs-root {
  --basin-green: #9ab89b;
}